<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /virthosts/myhost/lab3/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /virthosts/myhost/lab3/pose.php?$1 [QSA,L]
</IfModule>
